body{
	width: 100%;
	height: 500px;
	background-image: url(wood-texture_00031.jpg);
	background-size: cover;
}

.post_form_background {
	background-color: white;
}

.resizeimage img { width: 100%; }

