body{
	width: 100%;
	height: 500px;
	background-image: url(wood-texture_00031.jpg);
	background-size: cover;
}

/* 
.post_form_background {
	background-color: rgba(255, 255, 255, 0.5);
}
*/

.resizeimage img { width: 100%; }

h6 {
	font-size: 12px;
	font-weight: bold;
	padding: 3px;
	position: relative;
	display: inline-block;
	color: #fff;
	background-color: #38B6FF;
	margin-left: 30px;
	margin-bottom: 10px;
	height: 24px;
  }
  h6::before {
	position: absolute;
	top: 0;
	left: -12px;
	content: "";
	border-width: 12px 12px 12px 0;
	border-style: solid;
	border-color: transparent #38B6FF transparent transparent;
  }
  h6::after {
	position: absolute;
	top: 50%;
	left: -5px;
	transform: translateY(-50%);
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #FFF;
	content: "";
  }

  
.link-check-tag:link { color: gray; }
.link-check-tag:visited { color: gray; }
.link-check-tag:hover { color: #FF914D; }
.link-check-tag:active { color: gray; }

.pagetop{
    display: none;
    position: fixed;
    right: 15px;
    bottom: 60px;
}
.pagetop a{
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #FF914D;
    border-radius: 50%;
    line-height: 50px;
}
.pagetop a i{
    font-size: 20px;
    color:#fff;
    line-height: 50px;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }