{% extends 'myapp/base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6">

            <br>
            <h2 style="font-weight: bold;">権限がありません</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

{% endblock %}