{% extends "myapp/base.html" %}
{% load static %}

{% block main %}

<div class="container">
    <br>
    <br>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for item in post_list %}
        <div class="col">
            <div class="card h-100">
                <a href="{{ item.site_url }}" target="_blank"><img src="{{ item.image }}" class="card-img-top"
                        alt="..." /></a>
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>

                    <p class="card-text">
                        {{ item.memo }}
                    </p>
                </div>

                <a href="{% url 'myapp:post_detail' item.id %}" type="button" class="btn btn-light-blue btn-md">もっと読む</a>

                <div class="card-footer">
                    <small class="text-muted">{{ item.updated_at }}</small>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<br>
<br>
{% endblock %}