{% extends "myapp/base.html" %}
{% load static %}

{% block main %}

<br>
<br>

<div class="container">
    <!-- Background image -->
    <p class="resizeimage">
        <img src="{% static 'BookMark.png' %}" alt="BookMarkの概要">
    </p>
    <!-- Background image -->

    <br>
    <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <a href="https://logo-maker.stores.jp/workspace" target="_blank"><img src="" class="card-img-top" alt="..." /></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>

                    <h6></h6>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://mdbootstrap.com/img/new/standard/city/043.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a><img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top"
                        alt="..." /></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>

                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<script>

    const data = {
        key: '1dcc9da3e2850928df3424ef3a5199cb', //ご自身のAPIキーに置き換えてください
        q: 'https://logo-maker.stores.jp/workspace' //任意のURLで試してみてください
    }


    //プレビュー表示用の関数
    const createIMG = json => {

        document.querySelector('.card-img-top').src = json.image;
        document.querySelector('h6').textContent = json.title;
        document.querySelector('a').href = json.url;

    }


    //LinkPreviewを利用した通信処理
    fetch('https://api.linkpreview.net', {
        method: 'POST',
        mode: 'cors',
        body: JSON.stringify(data),
    })
        .then(data => data.json())
        .then(json => createIMG(json));

</script>
{% endblock %}