{% extends 'myapp/before_base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-6">

            <br>
            <br>
            <h2 style="font-weight: bold;">ログアウトしました</h2>
            <br>

            <a href="{% url 'myapp:index' %}">
                <button type="button" class="btn btn-primary me-3" style="background: #FF914D;">
                    メイン画面へ
                </button>
            </a>

            </form>
        </div>
    </div>
</div>

{% endblock %}