{% extends 'myapp/base.html' %}

{% load static %}

{% block main %}
<div class="post_form_background" style="background-color: rgba(255, 255, 255, 0.5);">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <br>
                <h2>Post削除</h2>
                <br>

                <div class="alert alert-danger" role="alert">
                    <form method="post">
                        {% csrf_token %}

                        <p>以下の内容を本当に削除しますか?</p>
                        <input type="submit" class="btn btn-danger" value="削除する">


                    </form>

                </div>

                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ object.title }}</h5>
                      <hr>

                      <h6 class="card-subtitle mb-2 text-muted">{{ object.memo }}</h6>
                      <a href="{{ object.site_url }}" class="card-link">{{ object.site_url }}</a>
                    </div>
                  </div>

                <br>
                <br>

            </div>
        </div>
    </div>
</div>

{% endblock %}