{% extends 'myapp/base.html' %}

{% load static %}

{% block main %}
<div class="post_form_background" style="background-color: rgba(255, 255, 255, 0.5);">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <br>
                <h2 style="font-weight: bold;">BOOK MARK登録・更新</h2>
                <br>

                <form action="" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label style="font-size: 20px; font-weight: bold;">タイトル</label>
                        {{ form.title }}
                    </div>


                    <br>

                    <div class="form-group">
                        <label style="font-size: 20px; font-weight: bold;">URL</label>
                        {{ form.site_url }}
                    </div>

                    <br>

                    <div class="form-group">
                        <label><span style="font-size: 20px; font-weight: bold;">色</span> (選択してください）
                        </label>
                        {{ form.image_color }}
                    </div>

                    <br>

                    <div class="form-group">
                        <label style="font-size: 20px; font-weight: bold;">タグ</label>
                        {{ form.tag }}
                        <p>複数選択するときには Control キーを押したまま選択してください。Mac は Command キーを使ってください</p>
                        <a href="{% url 'myapp:tag_create' %}">
                            <button type="button" class="btn btn-primary"
                                style="background: #38B6FF; border-radius: 100vh; margin-bottom: 10px;">タグを新規追加</button>
                        </a>
                    </div>
                    <br>


                    <div class="form-group">
                        <label style="font-size: 20px; font-weight: bold;">メモ</label>
                        {{ form.memo }}
                    </div>

                    <br>


                    <br>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary" style="background: #FF914D;">SAVE</button>
                        <br>
                        <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-outline-darg">戻る</a>
                    </div>

                </form>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

{% endblock %}