{% extends 'myapp/base.html' %}

{% load static %}

{% block main %}
<div class="post_form_background" style="background-color: rgba(255, 255, 255, 0.5);">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <br>
                <h2 style="font-weight: bold;">Post登録・更新</h2>
                <br>

                <form action="" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label style="font-size: large;">URL</label>
                        {{ form.site_url }}
                    </div>


                    <br>

                    <div class="form-group">
                        <label>メモ</label>
                        {{ form.memo }}
                    </div>

                    <br>

                    <div class="form-group">
                        <label>タグ</label>
                        {{ form.tag }}
                    </div>

                    <br>
                    

                    <button type="submit" class="btn btn-primary" style="background: #FF914D;">SAVE</button>

                </form>
                

                <div class="col">
                    <div class="card h-100">
                        <a class="site_url" target="_blank"><img src="" class="card-img-top" alt="..." /></a>
                        <div class="card-body">
                            <h5 class="site_title"></h5>
                            <p>Memo</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<script>

    var urls = "{{ form.site_url }}"
    

    const data = {
        key: '1dcc9da3e2850928df3424ef3a5199cb', //ご自身のAPIキーに置き換えてください
        q: 'https://qiita.com/satsukiya/items/ee6746a8dad6d042d2f1' //任意のURLで試してみてください
    }

    //プレビュー表示用の関数
    const createIMG = json => {

        document.querySelector('.card-img-top').src = json.image;
        document.querySelector('.site_title').textContent = json.title;


        document.querySelector('.site_url').href = json.url;

    }
    
    //LinkPreviewを利用した通信処理
    fetch('https://api.linkpreview.net', {
        method: 'POST',
        mode: 'cors',
        body: JSON.stringify(data),
    })
        .then(data => data.json())
        .then(json => createIMG(json));


</script>


{% endblock %}