{% extends 'myapp/base.html' %}

{% load static %}

{% block main %}
<div class="post_form_background" style="background-color: rgba(255, 255, 255, 0.5);">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <br>
                <h2 style="font-weight: bold;">Post登録・更新</h2>
                <br>

                <form action="" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label style="font-size: large;">URL</label>
                        {{ form.site_url }}
                    </div>


                    <br>

                    <div class="form-group">
                        <label>メモ</label>
                        {{ form.memo }}
                    </div>

                    <br>

                    <div class="form-group">
                        <label>タグ</label>
                        {{ form.tag }}
                    </div>

                    <br>
                    

                    <div class="form-group">
                        <label>author</label>
                        {{ form.author }}
                    </div>

                    <br>
                    

                    <div class="form-group">
                        <label>URL-title</label>
                        {{ form.title }}
                    </div>
                    
                    <br>
                    

                    <div class="form-group">
                        <label>URL-image</label>
                        {{ form.image }}
                    </div>
                    
                    <br>
                    <br>

                    <button type="submit" class="btn btn-primary" style="background: #FF914D;">SAVE</button>

                </form>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}