{% extends 'myapp/before_base.html' %}
{% load static %}

{% block content %}
<div class="post_form_background" style="background-color: rgba(255, 255, 255, 0.5);">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-left: auto; margin-right: auto;">

                <br>
                <h2 style="font-weight: bold;">SignUp</h2>
                <br>

                <form action="" method="post">
                    {% csrf_token %}

                    {{ form.non_field_errors }}
                    {% for field in form %}
                    {{ field.label }}
                    <br>
                    {{ field }}
                    <br>
                    {{ field.errors }}
                    {% endfor %}
                    <br>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary"
                            style="background: #FF914D; border-radius: 100vh; margin-bottom: 10px;">Sing Up</button>

                        <a href="{% url 'myapp:signup' %}" type="button"
                            class="btn btn-link" style="border-radius: 100vh;">LOGIN</a>
                    </div> 

                </form>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}