{% extends 'myapp/base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <br>

    <div>
        <h2 style="font-weight: bold;">{{ object.name }}
        </h2>

        <a href="{% url 'myapp:like_add' object.id %}" class="btn" style="background-color: #38B6FF; color: white;">
            <i class="fas fa-star"></i>
            お気に入り
        </a>


        <a href="{% url 'myapp:like_delete' object.id %}" class="btn btn-danger">
            お気に入り解除
        </a>
        <hr>
    </div>



    <div class="row row-cols-1 row-cols-md-3 g-4">


        {% for item in tag_posts %}
        {% if item.author == request.user %}
        <div class="col">
            <div class="card h-100">
                <div class="card-header" style="background-color: {{ item.image_color }};">
                    <h5 style="padding: 1rem; font-weight: bold; font-size: 24px;">
                        {{ item.title|truncatechars:25 }}
                    </h5>
                </div>

                <div class="card-body">
                    <p class="card-title">
                        {{ item.memo | truncatechars:100 | linebreaksbr | urlize }}
                    </p>

                    <br>

                    <div class="card-text">
                        {% for tag in item.tag.all %}
                        <h6>{{ tag.name }}</h6>
                        {% endfor %}
                    </div>
                    <div class="text-center" style="margin-top: 10px;">
                        <a href="{% url 'myapp:post_detail' item.id %}" type="button"
                            class="btn btn-light-blue btn-md">もっと読む</a>
                    </div>
                </div>


                <div class="card-footer text-center">
                    <a href="{{ item.site_url }}" target="_blank">
                        URLはこちら
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    <br>
    <br>
</div>

{% endblock %}